# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build Temporary files
build/CMakeFiles/
build/CMakeFiles/*
build/release/
build/release/*
build/CMakeCache.txt
build/cmake_install.cmake
build/CMakeLists.txt
build/Makefile

